body {
    margin: 0px;
    background: linear-gradient(#105570, #05031a);
}

header {
    padding: 8px 12px 12px 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(min(4vh, 7vw));
    background: black;
    color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
}

.main {
    width: 100%;
    min-height: calc(100vh - 24px - calc(min(4vh, 7vw)) - 20px);
    padding-top: 1px;
    padding-bottom: 1px;
    color: #ffffff;
}
.center-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-content {
    left: 0px;
    max-width: 40%;
    height: 100%;
    width: auto;
}
.data-left img {
    margin: 0px 4px 0px 0px;
    float: left;
}
.data-right img {
    margin: 0px 0px 0px 4px;
    float: right;
}
.data-block {
    display: inline-block;
    margin: 8px 8px 8px 8px;
    border: 1px solid white;
    padding: 0px 0px 0px 0px;
    opacity: 0;
    transition: opacity 600ms ease-in;
}
.data-block.active {
    opacity: 1;
}
.data-left {
    width: 60%;
    float: left;
}
.attract {
    text-align: center;
}
.data-right {
    width: 60%;
    float: right;
}
.data-full {
    width: 60%;
}
.text-intro {
    text-indent: 12px;
    margin: 6px 4px 6px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 12pt;
    text-align: justify;
}

.header-intro {
    margin: 0px 4px 0px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

footer {
    position: sticky;
    font-size: 8pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px 4px 4px 4px;
    background: #101020;
    color: #808080;
    bottom: 0px;
    left: 0px;
    right: 0px;
}